red{
    color: red;
}
green{
    color: green;
}

body{
    background-color: blanchedalmond;
}
.font{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.center{
    text-align: center;
}